<div class="panel">
    <div class="list-group">

        {% if member.is_moderator %}
            <div class="list-group-item">
                {{ form_open({ request: 'onMove', 'data-request-confirm': "آیا از انتقال تاپیک مطمئن هستید؟" }) }}
                    <label>انتقال به:</label>
                    <select name="channel" class="form-control input-sm">
                        {% for id, title in __SELF__.channelList %}
                            <option value="{{ id }}">{{ title|raw }}</option>
                        {% endfor %}
                    </select>
                    <br />
                    <button type="submit" class="btn btn-block btn-primary btn-sm">انتقال تاپیک</button>
                {{ form_close() }}
            </div>

            <a href="javascript:;"
                class="list-group-item"
                data-request="onLock"
                data-request-update="'@controlpanel': '#topicControlPanel'">
                {% if topic.is_locked %}
                    باز کردن قفل تاپیک
                {% else %}
                    قفل کردن تاپیک
                {% endif %}
            </a>

            <a href="javascript:;"
                class="list-group-item"
                data-request="onSticky"
                data-request-update="'@controlpanel': '#topicControlPanel'">
                {% if topic.is_sticky %}
                    باز کردن سنجاق تاپیک
                {% else %}
                    سنجاق کردن تاپیک
                {% endif %}
            </a>
        {% endif %}

        {% if false %}
            <a href="javascript:;"
                class="list-group-item"
                data-request="onFollow"
                data-request-update="'@controlpanel': '#topicControlPanel'">
                {% if member.isFollowing(topic) %}
                    عدم دنبال تاپیک
                {% else %}
                    دنبال کردن تاپیک
                {% endif %}
            </a>
        {% endif %}

        {% if topic.is_locked %}
            <div class="list-group-item">
                <span class="text text-danger"><i class="icon icon-lock"></i> این تاپیک قفل است</span>
            </div>
        {% endif %}

        <div class="list-group-item">
            <i class="fa fa-eye icon-eye-open"></i> {{ topic.count_views }} بازدید
        </div>

    </div>
</div>
