<table class="forum-table">
    <tr>
        <th colspan="2">تاپیک</th>
        <th class="counter-column">پست ها</th>
        <th class="counter-column">بازدید ها</th>
    </tr>

    {% for topic in topics %}
    <tr class="forum-topic">
        <td class="indicator-column">
            <div class="topic-indicator {{ topic.hasNew ? 'has-new' }}"></div>
        </td>
        <td>
            <h5>
                <a href="{{ topic.url }}">{{ topic.subject }}</a>
            </h5>
        </td>
        <td class="counter-column">
            <p>{{ (topic.count_posts-1) }}</p>
        </td>
        <td class="counter-column">
            <p>{{ topic.count_views }}</p>
        </td>
    </tr>
    <tr class="forum-topic-extra">
        <td colspan="100">
            {% if topic.is_sticky %}<strong>Sticky:</strong>{% endif %}
            {% if topic.is_locked %}<i class="icon icon-lock"></i> <strong>Locked:</strong>{% endif %}
            <span class="by">توسط: {{ topic.start_member.username }}</span>
    
            <img src="{{ topic.last_post_member.user.avatarThumb(24) }}" class="member-avatar hide" alt="{{ topic.last_post_member.username }}" />
            
            <a class="datetime" href="{{ topic.url }}?page=last#post-{{ topic.last_post_id }}">
                <span class="by">آخرین پست: {{ topic.last_post_member.username }}</span>
                <small style="display: inline-block">{% partial __SELF__ ~ "::timestamp" date=topic.last_post_at %}</small>
            </a>
        </td>
    </tr>
    {% endfor %}

    {% if not topics|length %}
        <tr>
            <td colspan="100">هیچ تاپیکی در این دسته بندی وجود ندارد</td>
        </tr>
    {% endif %}
</table>
