{% if channels | length %}

<div class="rainlab-forum">

    <table class="forum-table">
        <tr class="root-channel">
            <th colspan="2">دسته بندی</th>
            <th class="counter-column">تاپیک ها</th>
            <th class="counter-column">پست ها</th>
        </tr>


        {% for channel in channels %}

            <tr class="forum-channel">
                <td class="indicator-column">
                    <div class="topic-indicator {{ channel.hasNew ? 'has-new' }}"></div>
                </td>
                <td>
                    <h5>
                        <a href="{{ channel.url }}">
                            {{ channel.title }}
                        </a>
                        {% if  channel.description %}
                            <span class="description">({{ channel.description }})</span>
                        {% endif %}
                    </h5>

                    {% if channel.children|length %}
                        <div class="forum-subchannel">
                            <ul>
                                <li><span>زیر دسته ها:</span></li>
                                {% for channel in channel.children %}
                                    <li>
                                        <a href="{{ channel.url }}" title="{{ channel.description }}">
                                            {{ channel.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    
                </td>
                <td class="counter-column">
                    {{ channel.sum_topic_count }}
                </td>
                <td class="counter-column">
                    {{ channel.sum_post_count }}
                </td>
            </tr>
            {% if channel.first_topic %}
            <tr class="forum-channel-extra">
                <td colspan="100">
                    <span>آخرین تاپیک: </span>
                    <a href="{{ channel.first_topic.url }}?page=last#post-{{ channel.first_topic.last_post_id }}">
                        {{ channel.first_topic.subject }}
                    </a>
                    <small class="datetime">
                        {% partial __SELF__ ~ "::timestamp" date=channel.first_topic.last_post_at %}
                    </small>
                </td>
            </tr>
            {% endif %}

        {% endfor %}

    </table>
    
</div>
{% endif %}